@{
    ViewData["Title"] = "TeamGram";
}
@model string[]

<div>
    <ul class="list-rectangle">
        @foreach (var username in Model)
        {
            <li class="list-group-item">@username</li>
        }
    </ul>
</div>

<script defer>
    setTimeout(function(){
       window.location.reload(1);
    }, 5000);
</script>