@{
    ViewData["Title"] = "TeamGram";
}
@model string[]

<div class="ui main text container">
    <h1 class="ui header">Users on server</h1>
    <div class="ui middle aligned selection list">
        @foreach (var username in Model)
        {
            <div class="item">
                <i class="user outline icon"></i>
                <div class="content">
                    <div class="header">@username</div>
                </div>
            </div>
        }
    </div>
</div>

<script defer>
    setTimeout(function(){
       window.location.reload(1);
    }, 5000);
</script>