.list-rectangle {
    list-style: none;
    margin: 2rem 2rem;
    padding: 0;
}

.list-rectangle > li {
    position: relative;
    display: block;
    margin-bottom: .25rem;
    padding: .325rem .825rem .325rem 1.325rem;
    color: #fff;
    font-size: 3rem;
    background: #0AA;
}

.list-rectangle > li:last-child {
    margin-bottom: 0;
}

.list-rectangle > li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1rem;
    background: #ec407a;
}